<h1>Welcome to the employee tracker, overlord!</h1>

<div class="container">
  <a href="/employee">View all employees</a>
  <p> </p>
  <a href="/employee/new">Add a new employee</a>
  <p> </p>
  <a href="/division">View all divisions</a>
  <p> </p>
  <a href="/employee_assign">Add employee to a division</a>
</div>
<br>
<p>&nbsp;</p>
<% @employees.each() do |employee| %>
  <li><%= employee.name %> <a href="/employee/<% employee.id %>/edit">Update this Employee's name</a></li>
  <% end %>
